::ng-deep .p-inplace-manual {
  .p-inplace-display {
    display: block !important;
    padding: 0;

    .p-panel-header {
      background: transparent;
    }

    .p-panel-title {
      background: transparent;
    }

    .p-panel-content {
      background: transparent;
    }
  }

  &.no-selection {
    .p-inplace-display {
      // cursor: not-allowed !important;

      &:hover {
        background: initial;
        color: initial;
      }
    }
  }

  p-inputNumber {
    input {
      width: 100%;
    }
  }
}

::ng-deep .custom-car-card {
  transition: all 0.2s;
  background: transparent;
  border-radius: var(--radius-18);
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: none;
  // margin: 15px;
}

::ng-deep .custom-btn-size {
  font-size: 25px;
}

::ng-deep .no-button-padding {
  padding: 0;
}

.lot_preview {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.lot_box {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lot_category {
  font-size: 12px;
  color: var(--text-color-secondary);
  font-weight: bold;
  margin-bottom: 5px;
}

.lot_value {
  margin-top: 2px;
}

.lot_parameter {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  border-top: 1px solid hsla(100, 100%, 100%, 0.4);
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lot_parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lot_preview i {
  font-size: 33px;
  margin-right: 5px;
  color: hsla(100, 100%, 100%, 0.8);
}

.auction_end_date {
  color: rgb(255, 102, 40);
}

::ng-deep .p-panel-description {
  .p-panel-header {
    background-color: var(--gradient);
  }

  margin-top: 25px;
}

.page-container {
  width: 95%;
  margin-inline: auto;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 20px;
  align-items: stretch;

  img {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    height: 80px;
    object-fit: cover;
    width: 100%;
  }
}


// @media (min-width: 580px) {
//   .page-container {
//     max-width: 540px;
//     margin-inline: auto;
//   }
// }

// @media (min-width: 768px) {
//   .page-container {
//     max-width: 720px;
//   }
// }

@media (min-width: 1055px) {
  // .page-container {
  //   max-width: 960px;
  // }

  :host ::ng-deep .custom-galleria {
    &.p-galleria {
      .p-galleria-item {

        img,
        .gallery-button-container {
          min-height: 500px;
        }
      }
    }
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::ng-deep .featured-packages {
  max-width: 95%;
  // margin-inline: auto;
  padding-inline: 15px;
  color: var(--text-color-secondary);
  font-family: var(--ff-open-sans);

  .p-paginator {
    background: transparent;
  }

  .p-dataview-content {
    background: transparent;
  }

  .p-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
  }

  .featured-package-card {
    cursor: pointer;
    transition: all .2s;
    background: var(--gradient);
    // border: 1px solid var(--white);
    border-radius: var(--radius-18);
    padding: 10px;
    box-shadow: var(--shadow-1);

    &:hover {
      transform: scale(1.03)
    }
  }

  .featured-package-card .card-banner {
    background: hsla(0, 0%, 0%, 0.2);
    aspect-ratio: 3 / 2;
    border-radius: var(--radius-18);
    overflow: hidden;
  }

  .featured-package-card .card-banner {
    &>a {
      height: 100%;
      object-fit: cover;

      &>gallery {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .featured-package-card .card-content {
    padding: 20px 10px 10px;
  }

  .featured-package-card .card-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }

  .featured-package-card .card-title {
    width: calc(100% - 100px);
  }

  .featured-package-card .card-title>a {
    color: inherit;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .featured-package-card .card-title>a:is(:hover, :focus) {
    color: var(--primary-color);
  }

  .featured-package-card .year {
    font-family: var(--ff-nunito);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    padding: 3px 12px;
    border: 2px dashed hsla(233, 45%, 74%, 0.4);
    border-radius: var(--radius-14);
    color: var(--text-color-secondary);
  }

  .featured-package-card .card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(100, 100%, 100%, 0.1);
    margin-bottom: 15px;
  }

  .featured-package-card .card-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .featured-package-card .card-list-item i {
    font-size: 20px;
    color: var(--primary-color);
    --ionicon-stroke-width: 38px;
  }

  .featured-package-card .card-item-text {
    color: var(--text-color-secondary);
    font-size: var(--fs-6);
  }

  .featured-package-card .card-price-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .featured-package-card .card-price {
    font-family: var(--ff-nunito);
    font-size: var(--fs-6);
    color: var(--money-green);
  }

  .featured-package-card .card-price strong {
    font-size: var(--fs-3);
    font-weight: var(--fw-400);
  }

  .featured-package-card .btn:last-child {
    --height: 36px;
    min-width: 100%;
  }

  .featured-package-card .fav-btn {
    --background: var(--beau-blue);
    --color: var(--blue-jeans);
    --height: 36px;
    --width: 36px;
    --shadow-2: none;
  }

  .featured-package-card .fav-btn ion-icon {
    font-size: 18px;
  }

  .featured-package-card .fav-btn:is(:hover, :focus) {
    --background: var(--lavender-blush);
    --color: var(--pastel-red);
  }

  .auction-time-tag {
    border-radius: 12px;
    border: 1px solid transparent;
    background: #ff6628;
    color: white;
    font-weight: 400;
  }
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/




@media (min-width: 350px) {
  ::ng-deep .featured-packages {
    .featured-package-card .card-list {
      grid-template-columns: 0.1fr 1fr;
    }

    .featured-package-card .btn:last-child {
      min-width: max-content;
      padding-inline: 15px;
    }
  }
}

@media (min-width: 768px) {
  ::ng-deep .featured-packages {
    .p-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (min-width: 1200px) {
  ::ng-deep .featured-packages {
    .p-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}


@media (min-width: 1400px) {
  ::ng-deep .featured-packages {
    .p-grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}