<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<footer class="footer">
  <!-- <div class="footer_body">
    <div class="row">
      <div class="col-md-4">
        <div class="footer_nav-section-title">Написать на почту</div>
        <a class="footer_link" href="/">@gmail.com</a>
      </div>
      <div class="col-md-4">
        <div class="footer_nav-section-title">Связаться через Telegram</div>
        <a class="footer_link" href="/">telegram</a>
      </div>
      <div class="col-md-4">
        <div class="footer_nav-section-title">Удаление лотов</div>
        <a class="footer_link" href="/">delete</a>
      </div>
    </div>
  </div> -->
  <div class="flex justify-content-center" *ngIf="screenDetectorObject.isMobile">
    <p-selectButton [options]="languageOptions" [formControl]="languageControl" optionLabel="icon" optionValue="value">
      <ng-template let-item pTemplate>
        <i [class]="item.icon"></i>
      </ng-template>
    </p-selectButton>
  </div>
  <div class="flex justify-content-end align-items-center pr-2"
    style="color: var(--text-color-secondary); font-size: 11px;">
    <i class="bi bi-c-circle" style="font-size: 14px;"></i>
    <span>2023 SplashyTV. All rights reserved</span>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card flex justify-content-center">
        <div class="switchTheme">
          <i *ngIf="isDarkTheme" class="fas fa-moon"></i>
          <i *ngIf="!isDarkTheme" class="fas fa-sun"></i>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isDarkTheme" (change)="toggleTheme()">
            <span class="slider round"></span>
          </label>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="flex justify-content-center align-items-center gap-2">
        <a class="footer_link" href="/">
          <i class="bi bi-facebook bi-lg"></i>
        </a>
        <a class="footer_link" href="/">
          <i class="bi bi-facebook bi-lg"></i>
        </a>
        <a class="footer_link" href="/">
          <i class="bi bi-telegram bi-3x"></i>
        </a>
        <a class="footer_link" href="/">
          <i class="bi bi-youtube"></i>
        </a>
        <a class="footer_link" href="/">
          <i class="bi bi-envelope"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div> -->

</footer>
