<header class="header" [style.z-index]="headerZIndex">
  <div class="flex justify-content-between align-items-center w-full gap-1">
    <div class="flex flex-wrap align-items-center justify-content-start gap-2"
      [class.small-font-size]="screenDetectorObject.isMobile">
      <div class="flex align-items-center justify-content-start">
        <img class="logo_img" src="../../assets/img/lable.jpg" style="width: 40px"
          *ngIf="!screenDetectorObject.isMobile">
        <!-- SANDLER VOD -->
        <span class="logo-text">SANDLER VOD</span>
      </div>
      <p-button (onClick)="openByView([views.PACKAGES])" [label]="'commons.packages' | translate"
        styleClass="p-button-text">
      </p-button>
      <p-button *ngIf="isUserLoggedIn()" (onClick)="openByView([views.PACKAGES, 'me'])"
        [label]="'commons.my-packages' | translate" styleClass="p-button-text">
      </p-button>
      <p-button *ngIf="isUserLoggedIn() && isAdmin()" (onClick)="openByView([views.SUBSCRIPTIONS])"
        [label]="'commons.subscriptions' | translate" styleClass="p-button-text">
      </p-button>
      <p-button *ngIf="isUserLoggedIn() && isAdmin()" (onClick)="openByView([views.USERS])"
        [label]="'commons.users' | translate" styleClass="p-button-text">
      </p-button>
      <!-- <p-button *ngIf="isUserHasAdminRole()" (onClick)="openByView([views.ARCHIVE])"
        [label]="'commons.archive' | translate" styleClass="p-button-text">
      </p-button> -->
      <!-- <p-button (onClick)="openByView([views.INSTOCK])" [label]="'commons.in-stock' | translate"
        styleClass="p-button-text"></p-button> -->
    </div>
    <div class="flex justify-content-center">
      <p-button *ngIf="isUserLoggedIn() && isAdmin()" [label]="'commons.generate-report' | translate"
        icon="bi bi-file-text" styleClass="p-button-raised p-button-text mr-2"
        (click)="generateReportOverlay.toggle($event)">
      </p-button>
      <p-selectButton [options]="languageOptions" [formControl]="languageControl" optionLabel="icon"
        *ngIf="!screenDetectorObject.isMobile" styleClass="custom-language-buttons" optionValue="value">
        <ng-template let-item pTemplate>
          <i [class]="item.icon"></i>
        </ng-template>
      </p-selectButton>
    </div>

  </div>
</header>
<div style="height: 64px"></div>

<p-overlayPanel #generateReportOverlay>
  <ng-template pTemplate="content">
    <form [formGroup]="generateReportForm" class="flex flex-wrap gap-2 align-items-center justify-content-center">
      <div>
        <p-selectButton [options]="formatOptions" formControlName="format" optionLabel="label" optionValue="value"
          styleClass="select-raport-format">
          <ng-template let-item>
            <i [class]="item.icon"></i>
            <span class="p-button-label"></span>
          </ng-template>
        </p-selectButton>
      </div>
      <div>
        <app-date-range-select label="commons.report-date-range"
          [dateFromControl]="$any(generateReportForm).controls['start_date']"
          [dateToControl]="$any(generateReportForm).controls['end_date']" [inputId]="'report-date-select'"
          [useBackendDateFormat]="true" [convertBackendDatesFormatOnInit]="true">
        </app-date-range-select>
      </div>
      <p-button [loading]="generatingReport" [label]="'commons.generate' | translate" (onClick)="generateReport()"
        [disabled]="generateReportForm.invalid">
      </p-button>
    </form>
  </ng-template>
</p-overlayPanel>

<p-toast [position]="'top-left'"></p-toast>
